{% extends 'cervicedesk/base.html' %}
{% block content %}

{% load staticfiles %}

    <form class="form-signin" method="Post">
		<div><img src="{% static 'images\picture.jpg' %}", alt="", width='100px', height="100px"/></div>
        {% csrf_token %}
        <div class="form-label-group">
            {{form.text}}
            <label for="id_text"></label>
		</div>
		<div class="form-label-group">
		    {{form.name}}
            <label for="id_name">Имя</label>
		</div>
		<div class="form-label-group">
		    {{form.contact}}
            <label for="id_contact">Контакты</label>
		</div>
		<button type="submit">Отправить</button>
    <form>

{% endblock %}